<!DOCTYPE html>
<html ng-app="Buckets">
    <head>
        <title>Your Bucketlist!</title>
        
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.4.0/js/xeditable.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
        <link rel="stylesheet" href="../css/cover.css">
        <link rel="stylesheet" href="../css/bucketlistcss.css">
        <script src="/js/angular-momentjs.js"></script>
        <script src="/js/module.buckets.js"></script>
        <script src="/js/controller.home.js"></script>
        <script src="/js/factory.buckets.js"></script>
        
    </head>
    <body ng-controller="homeController as home" data-ng-init="home.getAllTask()">
    <br>
    <br>
        <a class="btn btn-default" role="button" data-toggle="collapse" href="#Menu" aria-expanded="false" aria-controls="collapseExample">Menu</a>
        <div class="collapse" id="Menu">
        <br>
            <div class="wellmenu"> 
                <a class="menuitem" href="/logout">Logout</a>
                <a class="menuitem" href="/html/index.html">Add More Bucket List Items!</a>
                <a class="menuitem" href="/html/datebuckets.html">Edit Bucket List Dates!</a>
                <a class="menuitem" href="/html/prioritize.html">Prioritize Bucket List Items!</a>
                <a class="menuitem" href="/html/addtasks.html">Add More Bucket List Tasks!</a> 
            </div>
        </div>
        <br>
        <br>
        <!--Logged in as: {{ home.user }}-->
        <section>
            <div>
                <h2 class="center">Below is your bucket list!</h2>
            </div>
            <div>
                <h3 class="headButton center"> You can use it to work toward accomplishing your goals.  Remember to check off task resularly!</h3>
            </div>
        </section>
<br>
<br>
        <section class="backgroundbucketlist">
            <div class="container-fluid">
                <div>
                    <div class="center">
                        <div ng-repeat="buckets in home.bucketList">
                            
                                <table class="left">
                                  <tbody ng-repeat="buckets in home.bucketList  track by $index" ng-init="now=home.dateStr;future=buckets.bucketdate">
                                    <tr>
                                        <td>{{buckets.bucketname}}</td>
                                        <td>Due {{buckets.bucketdate }}</td>
                                        <td>Status: <a onaftersave="home.compBucket(buckets._id, buckets.bucketcomp)" href="#" editable-checkbox="buckets.bucketcomp" e-title="Complete">{{ buckets.bucketcomp && "Complete - Awesome!" || "Incomplete!" }}</a></td>
                                        <td>Days Remaining: {{ buckets.bucketdays}}</td>
                                    </tr>
                                    <tr ng-repeat="tasks in home.taskList  | filter:buckets._id ">
                                        <td class="task">{{tasks.taskname}}</td>
                                        <td>Status: <a onaftersave="home.compTask(tasks._id, tasks.taskcomp)" href="#" editable-checkbox="tasks.taskcomp" e-title="Complete">
                                            {{ tasks.taskcomp && "Complete  - Good Job!" || "Incomplete!" }}</td>
                                    </tr>
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      </body>
</html>