<!DOCTYPE html>
<html ng-app="Basics">

<head>
    <title>The Basics List!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.4.0/js/xeditable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../css/pmp.css">
    <script src="/js/module.basics.js"></script>
    <script src="/js/controller.home.js"></script>
    <script src="/js/factory.basics.js"></script>

</head>

<body ng-controller="homeController as home">
    <br>
    <br>
    <a class="btn btn-default" role="button" data-toggle="collapse" href="#Menu" aria-expanded="false" aria-controls="collapseExample">Menu</a>


    <div class="collapse" id="Menu">
        <br>
        <div class="well">
            <a class="menu" href="/logout">Logout</a>
            <!--
	<a class="menu" href="/html/prioritize.html">Prioritize Basics List Items!</a> 
    <a class="menu" href="/html/datebasicss.html">Edit Basics List Dates!</a>
    <a class="menu" href="/html/addtasks.html">Add More Basics List Tasks!</a>
    <a class="menu" href="/html/basicslist.html">View Your Basics List!</a>
-->
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <div>
        <h1>Add your Core Competencies here;</h1>
        <form ng-submit="home.addCompetencies('competencies', home.competenciesList.competencies)">
            <input type='text' ng-model="home.competenciesList.competencies" placeholder="Add competencies here">
            <br>
            <input type="submit" class="btn btn-default">
        </form>
        <br>
        <div ng-repeat="results in home.competenciesList track by $index">
            <div id="list4">
                <ul class='center'>
                    <li class="list">
                        <h2> {{ results.competencies }} <button  ng-mousedown='details="true"' ng-click='home.showStuff()' type="button" id='showDet' class="btn btn-primary">Add Details</button></h2><form ng-show="details" id='details' ng-submit='home.addCompDetails($event, results.competencies, results._id, results.details)'><input type="text"  ng-model="home.competencyDetails.details"><button type='submit'>Add</button><button type='button' ng-click='details="false"'>Done</button></form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
   
</body>

</html>
