<!DOCTYPE html>
<html ng-app="module.reset">
    <head>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.4.0/js/xeditable.js"></script>
        <!--<script type="text/javascript" src="dist/ng-sortable.min.js"></script>-->
        <link rel="stylesheet" href="../css/cover.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
        <!--<link rel="stylesheet" type="text/css" href="dist/ng-sortable.min.css">
        <link rel="stylesheet" type="text/css" href="dist/ng-sortable.style.min.css">-->
        <script src="/js/module.reset.js"></script>
        
    </head>
    <body ng-controller="controller.reset as reset">
        <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <!--<h3 class="masthead-brand">Cover</h3>-->
            </div>
          </div>
        <!--<form>-->
          <div class="inner cover">
            <h1 class="cover-heading white">Welcome to the Bucket List!</h1>
            <h1  class="success">Congratulations, you have successfully entered your email and secret Key.  Please enter your email and a new password below:</h1>
            <br>
            <h1 id="resetMessage"></h1>
            <form id="login" ng-submit="reset.newpassword()">
            <input type="text" ng-model="reset.email" placeholder="Email"/>
            <input type="password" ng-model="reset.newpass" placeholder="Enter New Password">
            <br>
            <br>
            <button type="submit" class="btn btn-default">Save New Password</button>
            <br>
            <div></div>
            <!--<a href="/html/register.html">Click here to register! </a>-->
        </form>

            </p>
            <h2 class="cover-heading white">What will your life hold?</h1>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>The Bucket List created by Thomas E. Cowern at <a href="http://www.refactoru.com/">RefactorU</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


    </body>
</html>
